llama-index
openai
sqlalchemy
python-dotenv
beautifulsoup4
pdfplumber
requests

pandas #~=2.2.3
llama-index-core #~=0.13.2
llama-index-readers-smart-pdf-loader
llama-parse
llama-index-readers-web
llama-index-tools-playwright
llama-index-llms-ollama
llama-index-program-openai
openinference-instrumentation-llama-index
sentence-transformers
spacy
ollama
deepeval

llama-index-vector-stores-qdrant
qdrant-client
llama-index-embeddings-huggingface
fastembed
einops
